@page "/"

<div class="page">
    <h1>Что это такое?</h1>

    Ты находишься на главной странице системы аналитики. Это место где можно удобно получать нужные выгрузки.

    Программисты и аналитики делают отчеты, которыми затем удобно пользоваться.

    <div class="bs-popover-right">
        Test right
    </div>

</div>