@page "/"
@inject Backend Backend
@inject ILogger<Backend> Logger
@attribute [Authorize]

<div class="page container">
    <div class="row">
        <div class="col-auto">
            <h1>Что это такое?</h1>

            Ты находишься на главной странице системы аналитики Wise. Это место где можно удобно получать нужные выгрузки.

            Программисты и аналитики делают отчеты, которыми затем удобно пользоваться.
        </div>
    </div>
</div>

@code 
{

    private string _state = "";

    [CascadingParameter]
    private Task<AuthenticationState> _authenticationStateTask { get; set; }

    private async Task LogUsername()
    {
        _state = "";
        if (_authenticationStateTask != null)
        {
            var authState = await _authenticationStateTask;
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                _state = $"{user.Identity.Name} is authenticated.";
            }
            else
            {
                _state = $"The user is NOT authenticated.";
            }
        }
    }
}