@inject MarkdownPipeline Pipeline

<div class="markdown-body">
    @((MarkupString)_markdownHtml)
</div>

@code {

    private string _markdownHtml;
    private string _markdownRaw;

    [Parameter]
    public string MarkdownRaw
    {
        get => _markdownRaw;
        set
        {
            _markdownRaw = value;
            if (!string.IsNullOrEmpty(MarkdownRaw))
                _markdownHtml = Markdown.ToHtml(MarkdownRaw, Pipeline);
            StateHasChanged();
        }
    }

}
